
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter-Regular';
    src: url('../src/assets/font//Inter/Inter-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Inter-Bold';
    src: url('../src/assets/font/Inter/Inter-Bold.ttf');
  }